@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  select,
  button {
    @apply cursor-pointer;
  }
}

@theme inline {
  --animate-line-shadow: line-shadow 15s linear infinite;
 
  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% -100%;
    }
  }
}